# Private
DIRECT_URL=postgres://paul@localhost:5432/learning-platform
DATABASE_URL=postgres://paul@localhost:5432/sunday-board

SENTRY_ORG=cosmic-labs
SENTRY_PROJECT=sunday-board
SENTRY_AUTH_TOKEN=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

BETTER_AUTH_SECRET=RKMBW3EtAo0Bmst2oJbKpbW69hlZh0v5
BETTER_AUTH_URL=http://localhost:5173
ORIGIN="http://localhost:5173"

# Public
SENTRY_DSN=https://de1c034253882479f0b92a3efbce5f3d@o4505496663359488.ingest.us.sentry.io/4511808278036485
SENTRY_ENVIRONMENT=development
POSTHOG_PROJECT_TOKEN=https://app.posthog.com
POSTHOG_KEY=phc_VtUkP3XQ5v5v5v5v5v5v5v5v5v5v5v5v5v5v5v5
